@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500;600;700&display=swap');

.container {
  display: flex;
  font-family: 'Jura', sans-serif;
  background-color: white;
  width: 100%;
  min-height: 100vh;
}

.sidebar {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #8860D0;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar a {
  padding: 0px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.filterSection {
  margin-top: 10px;
  padding-left: 10px;
}

.filterSection h2 {
  color: white;
}

.homePagetitle {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
  color: white;
  cursor: pointer;
}

.homePageLogo {
  mix-blend-mode: multiply;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 50px;
}

label {
  display: block;
  margin-top: 10px;
  color: white;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.mainContent {
  flex: 1;
  padding: 20px;
  margin-left: 230px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #8860D0;
}

.searchBar {
  display: flex; 
  align-items: center; 
  border: solid white;
  border-radius: 40px;
  padding: 5px 10px; 
  position: relative; 
  width: 100%;
  max-width: 600px;
  background-color: white;
}

.searchBar input {
  flex-grow: 1;
  border: none; 
  outline: none;
  padding: 10px;
  font-family: 'Jura', sans-serif;
}

.searchTypeDropdown {
  padding: 10px;
  border-radius: 20px;
  border: solid white;
  background-color: #46beed;
  font-family: 'Jura', sans-serif;
  margin-right: 10px;
  color: white;
}

.searchBar button {
  background-color: transparent;
  border: none;
  color: #8860D0;
  font-size: 1.2rem;
  cursor: pointer;
}

.signOut {
  list-style: none;
  cursor: pointer;
  color: white;
  margin: 0;
}

.signOut:hover {
  text-decoration: underline;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
}

.uploadButton {
  background-color: #46beed; 
  border: none;
  color: white;
  font-size: large;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Jura', sans-serif;
  text-align: center;
  margin: 20px 0;
}

.uploadButton:hover {
  background-color: #5680E9; 
}

.uploadButtonRight {
  background-color: #46beed; 
  border: none;
  color: white;
  font-size: large;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Jura', sans-serif;
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.uploadButtonRight:hover {
  background-color: #5680E9; 
}

.mediaGrid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  position: relative;
}

.mediaItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 200px;
  max-height: 200px;
  justify-content: space-between;
}

.thumbnailContainer {
  width: 100%;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.videoThumbnail {
  width: 100%;
  height: 100%;
  background-color: white;
  object-fit: cover;
  border-radius: 8px;
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.emptyMessage {
  text-align: center;
  margin-top: 20px;
}

.sortSection {
  margin-top: 20px;
  color: white;
}

.sortSection select {
  display: block;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.mediaName {
  margin-top: 10px;
  text-align: center;
}

.uploadButtonContiainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

