@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500;600;700&display=swap');

.container {
  display: flex;
  font-family: 'Jura', sans-serif;
  background-color: white;
  width: 100%;
  height: 100%;
}

.sidebar {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #8860D0;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white; 
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.filterSection {
  margin-top: 10px;
  padding-left: 10px; /* Adjust this value to move the text to the right */
}

.filterSection h2 {
  color: white;
}

.homePagetitle {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
  color: white;
  position: relative;
}

.homePagetitle::after {
  content: '';
  display: block;
  width: 60%; 
  height: 2px; /* Adjust thickness of the underline */
  background-color: white; /* Color of the underline */
  margin: 15px auto 0; /* Center the underline and adjust spacing */
}

.homePageLogo {
  mix-blend-mode: multiply;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.projectsTab {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  margin-top: 10px; 
  color: white; 
}

.projectsTab:hover {
  color: #f1f1f1; 
}

.centeredContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}


.searchBar {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 40px;
  padding: 5px 10px;
  position: relative;
  width: 100%;
  max-width: 500px;
  margin-left: 30px;
}

.searchBar input {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 70%;
  border: none;
  outline: none;
  padding: 10px;
  font-family: 'Jura', sans-serif;
}

.searchBar button {
  background-color: transparent;
  border: none;
  color: #8860D0;
  font-size: 1.2rem;
  cursor: pointer;
  position: absolute;
  right: 10px;
}



.content {
  flex: 1;
  padding: 20px;
  margin-left: 230px; /* Align content to the right of the sidebar */
}

.centeredContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px; 
}


.uploadButton {
  background-color: #84CEEB; 
  border: none;
  color: white;
  font-size: large;
  margin-left: 800px;
  padding: 20px 45px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Jura', sans-serif;
}

.uploadButton:hover {
  background-color: #5680E9; 
}

.imageContainer {
  position: relative;
  margin-bottom: 0px; /* Adjust this value to move the image further down */
  margin-left: 30px; /* Adjust this value to move the image more to the left */
}

.mainImage {
  display: block;
  max-width: 100%;
  height: auto;
}
