@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500;600;700&display=swap');

.container {
  display: flex;
  font-family: 'Jura', sans-serif;
  background-color: white;
  width: 100%;
  min-height: 100vh;
}

.sidebar {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #8860D0;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.filterSection {
  margin-top: 10px;
  padding-left: 10px; /* Adjust this value to move the text to the right */
}

.filterSection h2 {
  color: white;
}

.homePagetitle {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
  color: white;
}

.homePageLogo {
  mix-blend-mode: multiply;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

label {
  display: block;
  margin-top: 10px;
  color: white; /* Set text color to white */
}

input[type="checkbox"] {
  margin-right: 5px;
}

.mainContent {
  flex: 1;
  padding: 20px;
  margin-left: 230px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #8860D0;
}

.searchBar {
  display: flex; /* Enables flexbox layout */
  align-items: center; /* Centers items vertically */
  border: 2px solid black; 
  border-radius: 40px; /* Adjusts the roundness of the search bar */
  padding: 5px 10px; /* Adjusts the padding inside the search bar */
  position: relative; 
  width: 100%; /* Adjust this value to set the width of the search bar */
  max-width: 600px;
  /*
  margin: 0 auto;
  top: 5px;
  left: -500px;
  */
}

.searchBar input {
  flex-grow: 1;
  /*
  flex-shrink: 0; 
  flex-basis: 70%;
  */
  border: none; 
  outline: none;
  padding: 10px; /* Adjusts the padding inside the input field */
  font-family: 'Jura', sans-serif;
}

.searchBar button {
  background-color: transparent;
  border: none;
  color: #8860D0;
  font-size: 1.2rem; /* Adjust the value to change the size of the button */
  cursor: pointer;
  position: absolute; /* Position the button absolutely */
  right: 10px; /* Adjust the value to position the button from the right edge */
}

.signOut {
  list-style: none;
  cursor: pointer;
  color: white;
  margin: 0;
}

.signOut:hover {
  text-decoration: underline;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
}

.createProjectButton {
  background-color: #84CEEB; 
  border: none;
  color: white;
  font-size: large;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Jura', sans-serif;
  text-align: center;
  margin: 20px 0;
  position: absolute;
  bottom: 20px;
  right: 20px
  /*
  margin-left: 800px;
  */
}

.createProjectButtonCenter {
  background-color: #84CEEB; 
  border: none;
  color: white;
  font-size: large;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Jura', sans-serif;
  text-align: center;
  margin: 20px 0;
}

.createProjectButton:hover {
  background-color: #5680E9; 
}

.tableContainer {
  margin-bottom: 100px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #8860D0;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table .projectNameColumn {
  width: 80%;
}

table .actionColumn {
  width: 20%;
}

table tr td button {
  background-color: #84CEEB;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 5px;
}

table tr td button:hover {
  background-color: #5680E9;
}

.noProjects {
  text-align: center;
  margin-top: 50px;
}

.noProjects p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}


